openapi: 3.0.0
paths:
  /api/v1/otp/send:
    post:
      description: 'Routing picks the channel from the app config. When it selects WhatsApp the code is not sent yet: the response returns action_url (a wa.me link) the user opens to receive the code over WhatsApp, and the OTP stays pending until they enter it. On all other channels the code is delivered directly and action_url is null. Either way the user enters the code and you call POST /otp/verify.'
      operationId: sendOtp
      parameters:
        - name: idempotency-key
          required: false
          in: header
          description: Replay the prior response for a repeated request; a reused key with a different body is a 409.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
      responses:
        '201':
          description: OTP created and delivery started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '401':
          description: Missing or invalid API key (also returned for a disabled app or a suspended company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: No channel can reach this recipient, or the idempotency key was reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request body failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Routing picked WhatsApp but our inbound number is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      summary: 'Start an OTP: routes a channel and dispatches the code.'
      tags:
        - otp
  /api/v1/otp/verify:
    post:
      operationId: verifyOtp
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          description: Missing or invalid API key (also returned for a disabled app or a suspended company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: OTP not found (the same 404 is returned for an OTP belonging to another company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request body failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      summary: Verify a code against a pending OTP.
      tags:
        - otp
  /api/v1/otp/resend:
    post:
      operationId: resendOtp
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequest'
      responses:
        '200':
          description: Resend accepted; the OTP may now be on a different channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '401':
          description: Missing or invalid API key (also returned for a disabled app or a suspended company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: OTP not found (the same 404 is returned for an OTP belonging to another company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The OTP cannot be resent (resolved, expired, or out of attempts), or the requested channel is not enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request body failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Resend cooldown has not elapsed; see the Retry-After header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Routing picked WhatsApp but our inbound number is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      summary: Resend a pending OTP, escalating the channel if configured.
      tags:
        - otp
  /api/v1/otp/{otp_id}:
    get:
      operationId: getOtpStatus
      parameters:
        - name: otp_id
          required: true
          in: path
          schema:
            format: uuid
            type: string
      responses:
        '200':
          description: Current status of the OTP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpStatusResponse'
        '400':
          description: otp_id is not a valid UUID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key (also returned for a disabled app or a suspended company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: OTP not found (the same 404 is returned for an OTP belonging to another company).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      summary: Fetch the current status of an OTP.
      tags:
        - otp
info:
  title: otp OTP API
  description: |-
    Public API for sending and verifying one-time passwords. Authenticate every request with your API key
    as a Bearer token. The delivery channel is chosen by your account routing; you only pass the
    recipient. The code itself is never returned by the API.

    Errors are always `{"error": {"type", "message", "details"?}}`.

    When routing picks WhatsApp the code is not sent yet: the send response carries an `action_url`
    (a wa.me link) the user opens to receive the code over WhatsApp, and the OTP stays pending until they
    enter it. Verification is identical on every channel.
  version: 1.0.0
  contact: {}
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
tags:
  - name: otp
    description: Send, verify, resend, and check one-time passwords.
servers:
  - url: https://api.otp.com
    description: Production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Your API key (`otp_live_…` for production, `otp_test_…` for sandbox).
  schemas:
    ErrorBody:
      type: object
      properties:
        type:
          type: string
          description: Machine-readable error class, e.g. "OtpNotFoundError".
          example: OtpNotFoundError
        message:
          type: string
          description: Human-readable message. Safe to log; never contains the OTP code.
        details:
          type: object
          additionalProperties: true
          description: Structured context, present on validation errors ({loc, msg, type} per field) and a few domain errors.
      required:
        - type
        - message
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
      required:
        - error
    SendRequest:
      type: object
      properties:
        recipient:
          type: string
          description: Phone number (E.164) or email address to deliver the OTP to.
          example: '+14155552671'
          minLength: 1
          maxLength: 320
        locale:
          type: string
          nullable: true
          description: BCP-47 locale for the message template; falls back to the app default.
          example: en
          maxLength: 10
      required:
        - recipient
    Status:
      type: string
      enum:
        - pending
        - approved
        - failed
        - expired
    Channel:
      type: string
      enum:
        - sms
        - whatsapp
        - email
        - telegram
      description: Channel the OTP was dispatched on; null until routed.
    OtpResponse:
      type: object
      properties:
        otp_id:
          type: string
          format: uuid
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
        channel:
          nullable: true
          description: Channel the OTP was dispatched on; null until routed.
          allOf:
            - $ref: '#/components/schemas/Channel'
        masked_recipient:
          type: string
          description: Recipient with the middle digits masked.
          example: +14****71
        action_url:
          type: string
          nullable: true
          description: 'WhatsApp link the user opens to receive the code: they send us the prefilled message and we reply with the code over WhatsApp, then they enter it and you call POST /otp/verify. Present only when dispatched on the whatsapp channel; null otherwise.'
          example: https://wa.me/13845555555?text=Verify%20me%3A%20aB3xZ-9kQ2m-7pLw4-2mN8k
      required:
        - otp_id
        - status
        - channel
        - masked_recipient
    VerifyRequest:
      type: object
      properties:
        otp_id:
          type: string
          format: uuid
          description: The OTP id returned by send/resend.
        code:
          type: string
          description: The code the recipient entered.
          example: '123456'
          minLength: 1
          maxLength: 16
      required:
        - otp_id
        - code
    VerifyResponse:
      type: object
      properties:
        otp_id:
          type: string
          format: uuid
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
        matched:
          type: boolean
          description: Whether the submitted code matched.
      required:
        - otp_id
        - status
        - matched
    ResendRequest:
      type: object
      properties:
        otp_id:
          type: string
          format: uuid
          description: The OTP id to resend.
        channel:
          nullable: true
          description: Move this OTP onto a specific channel, e.g. "sms" when the recipient has no WhatsApp. The channel must be enabled for your app and the recipient. Omit to advance to the next channel in your routing order.
          allOf:
            - $ref: '#/components/schemas/Channel'
      required:
        - otp_id
    OtpStatusResponse:
      type: object
      properties:
        otp_id:
          type: string
          format: uuid
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
        masked_recipient:
          type: string
          description: Recipient with the middle digits masked.
          example: +14****71
      required:
        - otp_id
        - status
        - masked_recipient
